{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Документооборот | {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/cdn/bootstrap-yeti.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/cdn/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/cdn/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>

    {% include 'partials/header.html' %}
    {% include 'partials/messages.html' %}

    <!-- Begin workflow content -->
    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'partials/footer.html' %}

    <script src="{% static 'js/cdn/jquery-1.12.3.min.js' %}"></script>
    <script src="{% static 'js/cdn/bootstrap.min.js' %}"></script>
  </body>
</html>