.branches {
    margin: -10px 0 0 -10px;
}

.branches .list-item.list-item-new {
    border: 1px dashed #aaa;
}

.branches .list-item {
    width: 120px;
    min-height: 90px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 10px;
    padding: 5px 5px;
    border-radius: 1px;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
}

.branches .list-item .creation-text {
    color: #666;
    left: 5%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0px, -50%);
    width: 90%;
}

.branches .list-item .creation-text .fa {
    display: block;
    font-size: 40px;
    font-weight: bold;
}

.branches .list-item:hover {
    background: #e5f3fb;
    border-color: #70c0e7;
}

.address {
    font-size: 16px;
    font-style: italic;
    border-bottom: 1px dashed grey;
}